<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body id="admin-reg">
    <h1 class="admin-reg-head">Register A New Student Worker</h1>
    <form id="admin-reg-form" ng-submit="createStudent()">
        <div class="admin-reg-input">
            <label for="username">Username (first.last):</label>
            <input type="text" name="username" id="username" ng-model="student.username"/>
        </div>
        <div class="admin-reg-input">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" ng-model="student.password"/>
        </div>
        <div class="admin-reg-input">
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="email" ng-model="student.email"/>
        </div>
        <div class="admin-reg-input">
            <input type="submit" value="Register"/>
        </div>


        <table id="admin-reg-current" border="1">
            <h3>CURRENT:</h3>
            <tr class="admin-reg-current-head">
                <td>Name:</td>
                <td>E-mail:</td>
                <td></td>
            </tr>
            <tr ng-repeat="user in users track by $index">
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td class="user-remove">
                    <button class="user-remove-button" ng-click="confirmRemove(user)">Remove</button>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>