<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>All Availabilities</h1>

    <table id="admin-avail" border="1" bgcolor="#eeeeee">
        <thead bgcolor="#24354B" style="color: #fff">
        <tr>
            <th width="200"></th>
            <th width="200" ng-repeat="user in usersOnly track by $index">{{user.name}}</th>
        </tr>
        </thead>
        <tr>
            <th width="200">MONDAY</th>
            <td width="200" ng-repeat="user in usersOnly track by $index">{{user.shifts[0].firstStart}} - {{user.shifts[0].firstEnd}}<br><br>
                {{user.shifts[0].secondStart}} - {{user.shifts[0].secondEnd}}</td>
        </tr>
        <tr>
            <th width="200">TUESDAY</th>
            <td width="200" ng-repeat="user in usersOnly track by $index">{{user.shifts[1].firstStart}} - {{user.shifts[1].firstEnd}}<br><br>
                {{user.shifts[1].secondStart}} - {{user.shifts[1].secondEnd}}</td>
        </tr>
        <tr>
            <th width="200">WEDNESDAY</th>
            <td width="200" ng-repeat="user in usersOnly track by $index">{{user.shifts[2].firstStart}} - {{user.shifts[2].firstEnd}}<br><br>
                {{user.shifts[2].secondStart}} - {{user.shifts[2].secondEnd}}</td>
        </tr>
        <tr>
            <th width="200">THURSDAY</th>
            <td width="200" ng-repeat="user in usersOnly track by $index">{{user.shifts[3].firstStart}} - {{user.shifts[3].firstEnd}}<br><br>
                {{user.shifts[3].secondStart}} - {{user.shifts[3].secondEnd}}</td>
        </tr>
        <tr>
            <th width="200">FRIDAY</th>
            <td width="200" ng-repeat="user in usersOnly track by $index">{{user.shifts[4].firstStart}} - {{user.shifts[4].firstEnd}}<br><br>
                {{user.shifts[4].secondStart}} - {{user.shifts[4].secondEnd}}</td>
        </tr>
    </table>

</body>
</html>