<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body id="admin-changes">
    <h1>Change Requests</h1>
    <table id="admin-changes-table" border="1" bgcolor="#eeeeee">
        <tr class="admin-changes-head">
            <td>REQUESTOR</td>
            <td>REQUEST</td>
            <td>Delete</td>
        </tr>
        <tr ng-repeat="change in changes track by $index">
            <td>
                {{change.username}}
            </td>
            <td>
                {{change.body}}
            </td>
            <td class="change-complete">
                <button ng-click="confirmDone(change)">YES</button>
            </td>
        </tr>
    </table>

</body>
</html>

