<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body id="admin-reg">
    <h1 class="admin-reg-head">Register a new worker</h1>
    <form id="admin-reg-form" ng-submit="createStudent()">
        <div class="admin-reg-input">
            <label for="username">Username (first.last):</label>
            <input type="text" name="username" id="username" ng-model="student.username"/>
        </div>
        <div class="admin-reg-input">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" ng-model="student.password"/>
        </div>
        <div class="admin-reg-input">
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="email" ng-model="student.email"/>
        </div>
        <div class="admin-reg-input">
            <input type="submit" value="Register"/>
        </div>
        <div id="admin-reg-current">
            <h2 class="admin-reg-current-head">Current:</h2>
            <ul class="current users">
                <li class="user" ng-repeat="user in users track by $index">{{user.username}}, {{user.email}}<button class="user-remove-button" ng-click="confirmRemove(user)">Remove</button></li>
            </ul>
        </div>
    </form>
</body>
</html>