<!DOCTYPE html>
<html lang="en" ng-app="schedulerApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Weekly Availability</h1>
    <div class="controller" ng-controller="studAvailController">
        <form ng-submit="addHours()">
            <div>
                <label>Preferred # of hours: <input type="number" class="max-Hours" size="3" ng-model="targetHours" autofocus required></label><br>
            </div>
            <div ng-repeat="available in hoursAvail">
                <h3>{{available.day}}</h3>
                <label>First Shift</label><input type="time" ng-model="available.first.start"><input type="time" ng-model="available.first.end">
                <label>Second Shift (optional)</label><input type="time" ng-model="available.second.start"><input type="time" ng-model="available.second.end">
            </div>
            <div>
                <button type="submit" >SUBMIT HOURS</button>
            </div>
        </form>
    </div>
</body>


</html>