<!DOCTYPE html>
<html lang="en" ng-app="schedulerApp">
<head>
    <meta charset="UTF-8">
    <title>Caroline's Scheduler App</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/vendors/angular/angular.min.js"></script>
    <script src="/vendors/angular-route/angular-route.min.js"></script>
    <script src="/assets/scripts/student.js"></script>
    <base href="/student">
</head>
<body>
<div id="stud-index-nav">
    <ul id="stud-index">
        <li><a href="/students/avail">ENTER AVAILABILITY</a></li>
        <li><a href="/students/change">REQUEST CHANGE/UPDATE</a></li>
        <li class="logout"><a href="/logout" target="_self">Logout</a></li>
    </ul>
</div>

<div id="main">
    <ng-view>

    </ng-view>
</div>
</body>
</html>