<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Change Request</h1>
    <div>
        <p>Request changes to your work schedule below.</p>
        <p>Please be as detailed as possible</p>
        <p>Requests will be handled in the order that they are received.</p>
    </div>
    <div>
        <form id="change-request" ng-submit="addChangeReq()">
            <textarea ng-model="change.body" name="chageReqTextBox" cols="50" rows="7">Enter request...</textarea>
            <br/>
            <button type="submit">SUBMIT REQUEST</button>
        </form>
    </div>

</body>
</html>