<!DOCTYPE html>
<html lang="en" ng-app="schedulerApp">
<head>
    <meta charset="UTF-8">
    <title>Caroline's Scheduler App</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/vendors/angular/angular.min.js"></script>
    <script src="/vendors/angular-route/angular-route.min.js"></script>
    <script src="/assets/scripts/student.js"></script>
    <base href="/student">
</head>
<body>
<div>
    <a href="/students/avail">ENTER AVAILABILITY</a><br><br>
    <a href="/students/change">REQUEST CHANGE/UPDATE</a><br><br>
</div>

<div id="main">
    <ng-view>

    </ng-view>
</div>
</body>
</html>